@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor {
  @apply lg:px-48;
}

.cm-content {
  font-family: "Helvetica Neue", "pingfang sc", "microsoft yahei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}